---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Hero from "../../components/Hero.astro";
import HowItWorks from "../../components/HowItWorks.astro";
import ProductMock from "../../components/ProductMock.astro";
import Security from "../../components/Security.astro";
import ForWhom from "../../components/ForWhom.astro";
import Allmatics from "../../components/Allmatics.astro";
import Faq from "../../components/Faq.astro";
import BetaApply from "../../components/BetaApply.astro";
import Footer from "../../components/Footer.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <ProductMock />
    <HowItWorks />
    <Security />
    <ForWhom />
    <Allmatics />
    <Faq />
    <BetaApply />
  </main>
  <Footer />
</Layout>
